@page
@model CrownGlobal.Areas.Admin.Pages.TestimonyGroups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestimonyGroups[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonyGroups[0].TestimonyCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestimonyGroups) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonyCount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
